<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">
    <title>Oh Friendly Veggies</title>
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="script.js"></script>
    <link rel=" shortcut icon" href="images/favicon.ico">
    <link rel="icon" href="images/favicon.ico">
</head>

<body>
    <div class="grid-container">
        <!-- header-->
        <div class="item1">
            <header>
                <div class="header">
                    <div class="logo">
                        <a href="/"><img id="logo" alt="logo" src="images/logo.png" width="70" height="70" /></a>
                    </div>
                    <div class="store-name">
                        <a href="/">Friendly Veggies</a>
                    </div>
                    <div class="navi-bar" id="navi-bar">
                        <button class="btn" id="onTheMenu-btn">on the menu</button>
                        <button class="btn" id="signUp">sign up</button>
                        <button class="btn" id="logIn">log in</button>
                    </div>
                </div>
            </header>
        </div>

        <!-- hero -->
        <div class="itemHero">
            <div class="hero" id="hero">
                <img alt="hero banner" src="images/hero.jpg" width="900px" height="auto" />
            </div>
        </div>

        <!-- dynamic section -->
        <div class="item3">
            {{{body}}}
        </div>

        <!-- footer -->
        <div class="item4">
            <footer class="footer">
                <div class="footer-contents" id="footer-contents">
                    <div class="footer-info">
                        <a href="/" target="-blank">Friendly Veggies</a> | Copyright © Fall 2020, Yuri Yoon, WEB322NAA
                        <br />Contacts yryoon@mySeneca.ca +1-111-111-1111</div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>