<div class="welcomeContainer">
    <h4>hello, {{firstName}} {{lastName}}</h4><br />
    <h5>Welcome to Friendly Veggies. Thanks for joining! <br /><br />
        Please enjoy our meals</h5><br />
</div>