<div class="loginDashboard">
    <h3><strong>{{user.fName}} {{user.lName}}'s dashboard</strong></h3><br />
    <h5>Ready to explore and taste? <br /><br />
        Enjoy our unique recipies!</h5><br />
</div>