<div class="basicContainer">
    <h1><i class="fas fa-ellipsis-h"></i> <i class="fas fa-truck"> <i class="fas fa-ellipsis-h"></i></i></h1>
    <h3><strong>Your order is placed successfully!</strong></h3><br />
    <h5>You can see the details in your mail<br /><br />
    </h5><br />
</div>